div{
    background-color: skyblue;
    color: rgb(127, 47, 255);
    }
    h1{
        font-size: 40px;
        color: brown;
    
    }
    form{
    

    }
    label{
        
    
    }
    input{
        
    }
    p{
    
    }
    a{
    color:rgb(243, 22, 7) ;
    }